<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
</head>
<body>
    <h1>Kareem Ellis</h1>
    <p>I am excited to learn about these frameworks. <br>I've been learning ReactJS on my own and I'm happy to learn Flask, VueJS and other technologies like SASS in this course.</p>
    <img src="{{ url_for('static', filename='Flask_logo.png')}}" alt="Logo of Flask framework">
</body>
</html>